

body {
    
  background-color: beige;
  color: darkgreen;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


td{
    width: 50px;
    height:50px;
    border: 2px solid maroon;
   
}

table{
    text-align: center;
    width:50px;
    height:50px;
    
}

pasc.jpg{
  width:50px;
  height:50px;
}

h1 {
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: -15px;
  margin-bottom: -15px;
  background-color: AntiqueWhite;
}

h1 span {
  display: block;
  font-size: 50%;
}

p {
  text-align: inherit;
  color: green;
  border: 4px solid darkgreen;
  border-radius: 25px;
}


.topnav {
  overflow: hidden;
  background-color: #BF4025;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: maroon;
  color: black;
}

.topnav a.active {
  background-color: maroon;
  color: white;
}
